
.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    align-items: flex-end;
    bottom: 9rem;
    z-index: 100;
    left: 5rem;
}

.hoverMenu{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 50%;
    padding: 0.2rem 1.5rem;
    background-color: #2d373f;
    border-radius: 1rem;
    border: transparent;
    color: #f7f7ffff;
    left: 3rem;
}

.hoverMenu:hover{
    color: rgb(240, 233, 145);
}

.subMenuButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subMenuBG{
    position: absolute;
    display: flex;
    height: 200px;
    width: 180px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.dayButton,
.nightButton{
    background-color:transparent;
    color: #2d373f;
    border: none;
    height: 20px;
    font-size: 25px;
}

.nightButton{
    color: white;
}

.dayButton:hover,
.nightButton:hover{
    cursor: pointer;
    scale: 1.19;
    color: rgb(233, 94, 233);
}

@media (max-width: 1366px){
    .footer{
        left: 1.4rem;
    }
    .hoverMenu{
        right: 4.3rem;
    }
}

@media (max-width: 1440px){
    .footer{
        left: 0.9rem;
    }
}

@media (max-width: 1280px){
    .footer{
        left: 1rem
    }
    .hoverMenu{
        font-size: 2rem;
        right: 1.7rem;
    }
    .dayButton,
    .nightButton{
    font-size: 15px;
    }
    .dayButton:hover,
    .nightButton:hover{
    cursor: pointer;
    scale: 1.1;
}
}

@media (max-width: 1024px){
    .footer{
        left: -0.4rem;
    }
}

@media (max-width: 768px){
    .footer{
        left: 1rem;
        bottom: 17rem;
    }
    .hoverMenu{
        right: 0.8rem;
    }
    .dayButton,
    .nightButton{
    font-size: 10px;
    }
}

@media (max-width: 412px){
    .footer{
        left: 1.2rem;
        bottom: 10rem;
    }
} 

@media (max-width: 280px){
    .footer{
        bottom: 5rem;
    }
}