
.navBody{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    position: fixed;
    margin: 4% auto;
    top: 15.8%;
    right: 6.5%;
    z-index: 100;
}

.button{
    font-size: 3rem;
    background-color: #495867ff;
    padding: 0 1rem;
    border-radius: 1rem;
    border: transparent;
    color: #f7f7ffff;
    font-family: fantasy;
}
.button:hover{
    cursor: pointer;
    color: rgb(240, 233, 145);
    scale: 1.2;
}

/* xl */
@media (max-width: 1280px) {
    .navBody{
        margin: 10% auto;
    }
    .button{
        font-size: 4rem;
    }
}

/* lg */
@media (max-width: 1024px) {
    .navBody{
        margin: 20% auto;
    }
    .button{
        font-size: 3rem;
    }
}

/* md */
@media (max-width: 768px) {
    .navBody{
        margin: 30% auto;
    }
    .button{
        font-size: 2.5rem;
    }
}

/* sm */
@media (max-width: 640px) {
    .navBody{
        margin: 40% auto;
    }
    .button{
        font-size: 2rem;
    }
}

/* xs */
@media (max-width: 475px) {
    .navBody{
        margin: 45% auto;
    }
    .button{
        font-size: 1rem;
    }
}