
.navBody{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    position: fixed;
    margin: 4% auto;
    left: -10%;
    z-index: 100;
    font-family: 'montserrat';
    top: 2rem;
}

.button{
    position: absolute;
    font-size: 3rem;
    background-color: #2d373f;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: transparent;
    color: #f7f7ffff;
}
.button:hover{
    cursor: pointer;
    color: rgb(240, 233, 145);
    scale: 1.2;
}

/* xl */
@media (max-width: 1280px) {
    .navBody{
        top: -1rem;
    }
}

@media (max-width: 1090px){
    .navBody{
        left: -3.5rem;
        top: -1rem;
    }
} 

@media (max-width: 768px) {
    .navBody{
        left: -2rem;
        top: 1rem;
    }
}
@media(max-width: 600px){
    .navBody{
        left: -0.5rem
    }
}
