
.navBody{
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: fixed;
    margin: 3.5% auto;
    left: 0;
    right: 9%;
    z-index: 100;
}

.button{
    font-size: 5rem;
    background-color: #22223B;
    padding: 0 1rem;
    border-radius: 1rem;
    border: transparent;
    color: #ffffff;
    font-family: fantasy;
}
.button:hover{
    cursor: pointer;
    color: #FFB84D;
    scale: 1.2;
}

@media (max-width:426px) {
    .navBody{
        width: 90%;
    }
    .button{
        padding: 0;
        font-size: 3rem;
        border-radius: 0.5rem;
    }
    
}