.achievenmentGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin-bottom: 70vh;
    background-color: burlywood;
    padding: 3rem 1.2rem;
    border-radius: 3rem;
}
