.achievenmentGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "one two three"
        "four five six";
    gap: 2rem;
    margin-bottom: 70vh;
    background-color: #f9d1d5ff;
    padding: 3rem 1.2rem;
    border-radius: 3rem;
}

.gameRank0{
    grid-area: one;
}
.gameRank1{
    grid-area: two;
}
.gameRank2{
    grid-area: three;
}
.gameRank3{
    grid-area: five;
}