.achievenmentGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "one two three four";
    gap: 2rem;
    margin-bottom: 200px;
    padding: 3rem 1.2rem;
    border-radius: 3rem;
    font-weight: bold;
}

.gameRank0{
    grid-area: one;
}
.gameRank1{
    grid-area: two;
}
.gameRank2{
    grid-area: three;
}
.gameRank3{
    grid-area: four;
}

