@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.2rem solid rgba(66, 80, 94, 0.2);
    padding: 25px;
    width: 1050px;
    height: 500px;
    margin-top: 5rem;
    border-radius: 2rem;
    text-align: center;
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}

.link,
.linkDisabled{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.link,
.link:link,
.link:visited,
.link:active,
.linkDisabled,
.linkDisabled:link,
.linkDisabled:visited,
.linkDisableds:active  {
    text-decoration: none;
    color: #42505eff;
}
.linkDisabled{
    pointer-events: none;
}
.link:hover{
    scale: 1.02;
}
.image{
    border: 0.2rem solid ghostwhite;
    border-radius: 1rem;
}
.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.header{
    font-weight: bold;
    font-size: 2rem;
}
.tech{
    display: flex;
    gap: 0.4rem;
}
.tech p {
    color: #577399ff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.4%;
}
.role{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.role p{
    color: #577399ff;
}

.summary{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: bold;
    width: 400px;
}


/* lg */
@media (max-width: 1024px) {
    .projects{
        width: 350px;
        height: 400px;
        justify-content: space-around;
    }
    .image{
        height: 300px;
        width: 200px;
    }
}

/* md */
@media (max-width: 768px) {
    .projects{
        width: 300px;
        height: 350px;
        justify-content: space-around;
    }
    .image{
        height: 250px;
        width: 150px;
    }
}

/* sm */
@media (max-width: 640px) {
    .projects{
        width: 250px;
        height: 300px;
        justify-content: space-around;
    }
    .image{
        height: 200px;
        width: 100px;
    }
}

/* xs */
@media (max-width: 475px) {
    .projects{
        width: 200px;
        height: 270px;
        justify-content: space-around;
    }
    .image{
        height: 150px;
        width: 100px;
    }
}