
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.2rem solid rgba(66, 80, 94, 0.2);
    padding: 25px;
    width: 100%;
    height: 650px;
    margin-top: 5rem;
    border-radius: 2rem;
    gap: 1rem;
    text-align: center;
    font-family: 'roboto';
}
.projectInfoContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.link,
.linkDisabled{
    display: flex;
    justify-content: space-evenly;
}


.link,
.link:link,
.link:visited,
.link:active,
.linkDisabled,
.linkDisabled:link,
.linkDisabled:visited,
.linkDisableds:active  {
    text-decoration: none;
    color: #42505eff;
}
.linkDisabled{
    pointer-events: none;
}
.link:hover{
    scale: 1.02;
}
.image{
    border: 0.2rem solid ghostwhite;
    border-radius: 1rem;
}
.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}
.header{
    font-family: 'sortsMillGoudy';
    font-weight: bold;
    font-size: 2rem;
}
.tech0,
.tech1,
.tech2{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: left;
    gap: 0.2rem;
}
.tech0 p{
    font-size: 0.95rem;
    margin-top: 2%;
    margin-left: 0.95%;
    letter-spacing: 2px;
    color: #fff8c7;
}
.tech1 p {
    font-size: 0.95rem;
    margin-top: 2%;
    margin-left: 0.95%;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
.tech2 p {
    font-size: 0.95rem;
    margin-top: 2%;
    margin-left: 0.95%;
    letter-spacing: 2px;
    color: #b9b9e6;
}
.NextJS,
.Vercel{
    -webkit-text-stroke: 0.3px black;
    color: black !important;
}
.Typescript,
.Css{
    -webkit-text-stroke: 0.2px black;
    color: rgb(116, 176, 255) !important;
}
.Tailwind{
    -webkit-text-stroke: 0.2px black;
    color: rgb(106, 255, 255) !important; 
}
.Sass{
    -webkit-text-stroke: 0.2px black;
    color: rgb(225, 107, 214)!important;
}
.Javascript{
    -webkit-text-stroke: 0.2px black;
    color: rgb(251, 255, 0)!important;
}

.summaryContainer0,
.summaryContainer1,
.summaryContainer2{
    text-align: left;
    font-size: 1.08rem;
    font-weight: 400;
    line-height: 1.1rem;
    width: 500px;
}
.summaryContainer0{
    color: #3b3929;
}
.summaryContainer1{
    color: white;
}
.summaryContainer2{
    -webkit-text-stroke: 0.2px #b3b3f5;
    color: #dcdcf8;;
}
.summary1,
.summary2,
.summary3,
.summary4{
    margin: 0;
    text-indent: 2rem;
}



@media (max-width: 1280px) {
    .image{
        width: 450px;
    }
    .summaryContainer0,
    .summaryContainer1,
    .summaryContainer2{
        font-size: 12px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .projects{
        height: 520px;

    }
    .header{
        font-size: 1.5rem;
    }
    .techIcon{
        height: 20px;
        width: 20px;
    }
    .link,
    .linkDisabled{
        gap: 1rem;
    }
    .image{
        height: 490px;
        width: 320px;
    }
}

@media (max-width: 850px){
    .projects{
        height: 550px;
    }
    .image{
        height: 500px;
    }
    .tech0 p,
    .tech1 p,
    .tech2 p{
        font-size: 0.5rem;
    }
    .summaryContainer0,
    .summaryContainer1,
    .summaryContainer2{
        width: 250px;
        font-size: 8px;
    }
    .tech0,
    .tech1,
    .tech2{
        width: 200px;
    }
}

@media(orientation:portrait){
    .projects{
        width: 80%;
        height: 1300px;
    }
    .header{
        color: white;
    }
    .projectInfoContainer{
        flex-direction: column;
    }
    .image{
        width: 330px;
    }
    .summaryContainer0{
        color: #faef9a;
    }
    .summaryContainer0,
    .summaryContainer1,
    .summaryContainer2{
        width: 350px;
        font-size: 12px;
    }
    .tech0,
    .tech1,
    .tech2{
        gap: 0.5rem;
        column-gap: 1rem;
        width: 100px;
        margin-left: -25%;
        margin-bottom: 10%;
    }
    .tech0 p,
    .tech1 p,
    .tech2 p{
        font-size: 0.7rem;
    }
    .techIcon{
        margin-top: -20%;
    }
}