
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.2rem solid rgba(66, 80, 94, 0.2);
    padding: 25px;
    width: 1000px;
    height: 550px;
    margin-top: 5rem;
    border-radius: 2rem;
    text-align: center;
}
.projectInfoContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.link,
.linkDisabled{
    display: flex;
    justify-content: space-evenly;
}


.link,
.link:link,
.link:visited,
.link:active,
.linkDisabled,
.linkDisabled:link,
.linkDisabled:visited,
.linkDisableds:active  {
    text-decoration: none;
    color: #42505eff;
}
.linkDisabled{
    pointer-events: none;
}
.link:hover{
    scale: 1.02;
}
.image{
    border: 0.2rem solid ghostwhite;
    border-radius: 1rem;
}
.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}
.header{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
}
.tech0,
.tech1,
.tech2{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: repeat(4 1fr);
    justify-items: center;
    text-align: left;
    gap: 0.2rem;
}
.tech0 p{
    font-size: 0.95rem;
    margin-top: 0.4%;
    margin-left: 0.95%;
    letter-spacing: 2px;
    color: rgb(255, 248, 199);
}
.tech1 p {
    font-size: 0.95rem;
    margin-top: 0.4%;
    margin-left: 0.95%;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
.tech2 p {
    font-size: 0.95rem;
    margin-top: 0.4%;
    margin-left: 0.95%;
    letter-spacing: 2px;
    color: rgb(179, 179, 245);
}
.NextJS,
.Vercel{
    -webkit-text-stroke: 0.3px black;
    color: black !important;
}
.Typescript,
.Css{
    -webkit-text-stroke: 0.3px black;
    color: rgb(59, 144, 255) !important;
}
.Sass{
    -webkit-text-stroke: 0.3px black;
    color: rgb(224, 55, 207)!important;
}
.Javascript{
    -webkit-text-stroke: 0.2px black;
    color: rgb(251, 255, 0)!important;
}


.role{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
.role p{
    font-family: sans-serif;
}

.summary{
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: bold;
    width: 375px;
}

@media (max-width: 1280px) {
    .projects{
        width: 900px;
        height: 450px;
    }
    .header{
        font-size: 1.25rem;
    }
    .tech{
        width: 200px;
    }
    .tech p,
    .role,
    .summary{
        font-size: 0.75rem;
    }
    .techIcon{
        height: 22px;
        width: 22px;
    }
    .image{
        height: 450px;
        width: 400px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .projects{
        width: 700px;
        height: 400px;

    }
    .header{
        font-size: 1rem;
    }
    .tech p,
    .role,
    .summary{
        font-size: 0.55rem;
    }
    .techIcon{
        height: 20px;
        width: 20px;
    }
    .link,
    .linkDisabled{
        gap: 1rem;
    }
    .image{
        height: 400px;
        width: 320px;
    }
}

/* md */
@media (max-width: 768px) {
    .projects{
        width: 500px;
        height: 350px;

    }
    .projectInfo{
        width: 250px;
    }
    .header{
        font-size: 0.55rem;
    }
    .summary{
        width: 200px;
    }
    .tech{
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .tech p{
        margin: 0;
    }
    .tech p,
    .role,
    .summary{
        font-size: 0.35rem;
    }
    .techIcon{
        height: 15px;
        width: 15px;
    }
    .link,
    .linkDisabled{
        gap: 1rem;
    }
    .image{
        height: 350px;
        width: 250px;
    }
}

/* sm */
@media (max-width: 640px) {
    .projects{
        width: 350px;
        height: 300px;

    }
    .summary{
        width: 170px;
    }
    .image{
        height: 300px;
        width: 160px;
    }
}
