.projectBody{
    height: 3000px;
}

.stickyBody{
    position: sticky;
    top: 0;
    display: flex;
    height: 1200px;
    overflow: hidden;
    align-items: center;

}

.projectInfoContainer{
    display: flex;
    gap: 500px;
    position: relative;
    left: 36.5%;
    margin-bottom: 4.5%;

}
@media (width:1920px){
    .stickyBody{
        height: 1055px;
    }
}
@media (max-width: 1536px){
    .stickyBody{
        height: 820px;
    }
}
@media (max-width: 1440px){
    .stickyBody{
        height: 920px;
    }
}

@media (max-width: 1366px){
    .stickyBody{
        height: 910px;
    }
}

@media (max-width: 1280px){
    .projectInfoContainer{
        left: 36.6%;
    }
    .stickyBody{
        height: 800px;
    }
}
/* lg */
@media (max-width: 1024px) {
    .projectInfoContainer{
        left: 36.6%
    }
    .stickyBody{
        height: 695px;
    }
}

/* md */
@media (max-width: 768px) {
    .stickyBody{
        height: 820px;
        width: 2000px;
    }
    .projectInfoContainer{
        gap: 200px;
        left: 32.4%;
    }
}

@media (orientation:portrait){
    .projectBody{
        height: 5100px;
    }
    .stickyBody{
        height: 5100px;
    }
    .projectInfoContainer{
        flex-direction: column;
        gap: 50px;
        left: 41.7%;
    }
}
