.projectBody{
    height: 3000px;
}

.stickyBody{
    position: sticky;
    top: 0;
    display: flex;
    height: 800px;
    overflow: hidden;
    align-items: center;

}

.projectInfoContainer{
    display: flex;
    gap: 500px;
    position: relative;
    left: 37%;
    margin-bottom: 4.5%;

}

@media(max-width:3440px){
    .stickyBody{
        height: 1500px;
    }
    .projectInfoContainer{
        left:40.5%
     }
    .projectInfoContainer{
        gap: 1500px;
    }
}
@media(max-width:1920px){
    .stickyBody{
        height: 970px;
    }
}
@media(max-width:1536px){
    .stickyBody{
        height: 890px;
    }
}
@media(max-width:1440px){
 .projectInfoContainer{
    left:36.5%
 }
}
@media (max-width: 1280px){
    .projectInfoContainer{
        left: 36.6%;
    }
}
/* lg */
@media (max-width: 1024px) {
    .projectInfoContainer{
        left: 37.5%
    }
}

/* md */
@media (max-width: 768px) {
    .projectBody{
        height: 1000px;
    }
    .stickyBody{
        height: 800px;
        width: 2000px;
    }
    .projectInfoContainer{
        gap: 500px;
        left: 35%;
    }
}

