.projectBody{
    height: 3000px;
}

.stickyBody{
    position: sticky;
    top: 0;
    display: flex;
    height: 700px;
    overflow: hidden;
    align-items: center;
    margin-top: -4rem;
}
/*Todo: set up media queries so that the container is centered with different monitor sizes */
.projectInfoContainer{
    display: flex;
    gap: 1500px;
    position: relative;
    left: 43.9%;
}

/* 2xl */
@media (max-width: 1536px) {
    .projectInfoContainer{
        left: 43.5%
    }
}
/* lg */
@media (max-width: 1024px) {
    .projectInfoContainer{
        left: 43.9%
    }
}

/* md */
@media (max-width: 768px) {
    .projectInfoContainer{
        left: 44.2%
    }
}

/* sm */
@media (max-width: 640px) {
    .projectInfoContainer{
        left: 44.9%
    }
}

/* xs */
@media (max-width: 475px) {
    .projectInfoContainer{
        left: 45.2%
    }
}