.contactMeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightcoral;
    padding: 3rem;
    border-radius: 5rem;
    scale: 1.5;
}
.contactInfo{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.link,
.link:visited,
.link:active{
    font-weight: bold;
    text-decoration: none;
    color: #22223B;
}

.link:hover{
    color: rgb(240, 233, 145);
}