.contactMeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightcoral;
    padding: 3rem;
    border-radius: 5rem;
    scale: 1.5;
}
.contactInfo{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.link,
.link:visited,
.link:active{
    font-weight: bold;
    text-decoration: none;
    color: #22223B;
}

.link:hover{
    color: rgb(240, 233, 145);
}

.button{
    background: none;
    border: none;
    font-weight: bold;
    color: #22223B;
    font-size: 14px;
}

.button:hover{
    cursor: pointer;
    color: burlywood;
}

.popupBG{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 45%;
    right: 5%;
    height: 50px;
    width: 70px;
    background-color: rgb(77, 150, 199);
    border-radius: 1rem;
}

.popupBG::before{
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: -5%;
    height: 20px;
    width: 20px;
    background-color: rgb(116, 175, 214);
    border-radius: 15rem;
    z-index: -1;
}

@media (max-width: 1280px) {
    .contactMeBody{
        padding: 0.5rem;
    }
}
/* lg */
@media (max-width: 1024px) {
    .contactMeBody{
        padding: 0;
    }
}

/* md */
@media (max-width: 768px) {
    .contactInfo{
        width: 450px;
        font-size: 14px;
    }
}

/* sm */
@media (max-width: 640px) {
    .contactMeBody{
        border-radius: 2rem;
    }
    .contactInfo{
        width: 350px;
        font-size: 12px;
    }
}

/* xs */
@media (max-width: 475px) {
    .contactInfo{
        width: 300px;
        font-size: 8px;
    }
}