@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');
root{
  --charcoal: #42505eff;
  --paynes-gray: #495867ff;
  --glaucous: #577399ff;
  --air-superiority-blue: #8aa4c2ff;
  --columbia-blue: #bdd5eaff;
  --alice-blue: #dae6f5ff;
  --ghost-white: #f7f7ffff;
  --tea-rose-red: #f9d1d5ff;
  --melon: #fbabaaff;
  --bittersweet: #fe5f55ff;
  --link-hover: rgb(240, 233, 145)
}
body{
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
  color: #42505eff;
  overflow-x: hidden;
}
