
.default,
.mainDay,
.mainmidDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: -2rem;
  background-image: url('../images/clouds.webp');
  background-size: contain;
  background-repeat: no-repeat;

}
.mainDay::before{
  position:fixed;
  top: 3%;
  right: 5%; 
  width: 100px;
  height: 100px;
  scale: 1.5;
  content: "";
  background-image: url('../images/sun.svg');
  background-repeat: no-repeat;
}

.mainmidDay::before{
  position:fixed;
  top: 40%;
  right: 2.5%; 
  width: 150px;
  height: 150px;
  scale: 0.75;
  content: "";
  transform: rotate(30deg);
  background-image: url('../images/midDay.svg');
  background-repeat: no-repeat;
}

.mainNight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: -2rem;
  background-image: url('../images/starsBg.svg');
}
.mainNight::before{
  position:fixed;
  bottom: 3%;
  right: 3%;
  scale: 0.75; 
  width: 150px;
  height: 150px;
  content: "";
  background-image: url('../images/moon.svg');
  background-repeat: no-repeat;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subHeader{
  display: flex;
  justify-content: center;
  width: 350px;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-top: -25%;
  margin-bottom: 50%;
  text-align: center;
  font-family: 'sortsMillGoudy';
}
.aboutMe1,
.aboutMe2{
  font-family: 'sortsMillGoudy';
  font-size: 3rem;
  font-weight: 800;
  color: rgb(78, 85, 93);
}
.aboutMe2{
  color: white;
}
.subHeader p {
  margin-left: -40px;
}
.subTitle1{
  font-family: 'sortsMillGoudy';
  color: rgb(78, 85, 93);
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: -10%;

}
.subTitle2,
.subTitle3{
  font-family: 'sortsMillGoudy';
  color: #dae6f5ff;
  font-size: 3rem;
  font-weight: 800;
}

.subTitle3{
  color: rgb(219, 189, 248);
}

@media(max-width:3440px){
  .header{
    margin: 10%;
    gap: 10rem;
  }
  .subTitle1{
    margin-bottom: -7%;
  }
}
@media (max-width: 1536px){
  .header{
    margin: 0;
  }
}
.subTitle1{
  margin-bottom: 7%;
}
@media (max-width: 1024px) {
  .subTitle1,
  .subTitle2{
    font-size: 2rem;
  }

  .mainDay::before{
    scale: -0.98;
  }
  .mainmidDay::before,
  .mainNight::before{
    scale: -0.5;
    right: 1%;
  }
  .mainNight::before{
    rotate: -30deg;
  }

}

@media (max-width: 768px) {
  .subTitle1,
  .subTitle2{
    font-size: 2rem;
  }

  .mainDay::before{
    scale: -0.7;
    right: -1%;
  }
  .mainmidDay::before,
  .mainNight::before{
    scale: -0.3;
    right: -6%;
  }
  .mainNight::before{
    rotate: -15deg;
  }

}
@media (max-width: 640px) {
  .subTitle1,
  .subTitle2{
    font-size: 1rem;
  }
  .mainmidDay::before,
  .mainNight::before{
    scale: -0.3;
    right: -8%;
  }
  
}