@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.main{
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    font-size: 1.5rem;
    margin-bottom: 25rem;
    text-indent: 10%;
    line-height: 2.5rem;
    font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 1280px) {
    .main{
        gap: 5rem;
        width: 700px;
    }
    .rank{
        height: 250px;
        width: 150px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .main{
        gap: 3rem;
        width: 550px;
        flex-direction: column;
    }
    .rank{
        height: 250px;
        width: 100px;
        gap: 0;
    }
}

/* md */
@media (max-width: 768px) {
    .main{
        gap: 0;
        width: 350px;
        flex-direction: column;
    }
    .image{
        height: 50px;
        width: 50px;
    }
}

/* sm */
@media (max-width: 640px) {
    .main{
        gap: 0;
        width: 150px;
        flex-direction: column;
    }
}

/* xs */
@media (max-width: 475px) {
    .main{
        gap: 0;
        flex-direction: column;
    }
}