.main{
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    margin-bottom: 20rem;
}

@media (max-width: 1280px) {
    .main{
        gap: 5rem;
        width: 700px;
    }
    .rank{
        height: 250px;
        width: 150px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .main{
        gap: 3rem;
        width: 550px;
        flex-direction: column;
    }
    .rank{
        height: 250px;
        width: 100px;
        gap: 0;
    }
}

/* md */
@media (max-width: 768px) {
    .main{
        gap: 0;
        width: 350px;
        flex-direction: column;
    }
    .image{
        height: 50px;
        width: 50px;
    }
}

/* sm */
@media (max-width: 640px) {
    .main{
        gap: 0;
        width: 150px;
        flex-direction: column;
    }
}

/* xs */
@media (max-width: 475px) {
    .main{
        gap: 0;
        flex-direction: column;
    }
}